body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #F8F8FF;
    color: #000000;
    padding: 20px 0;
    text-align: center; /* Выравниваем текст в центре */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Используем flexbox для выравнивания элементов */
    justify-content: space-around; /* Распределение пространства между элементами */
}

nav ul li {
    margin-right: 10px;
}

nav ul li:last-child {
    margin-right: 0px; /* Убираем правый отступ у последнего элемента */
}

nav ul li a {
    
    color: #000000; /* Изменяем цвет текста на белый */
    font-size: 1.5em; /* Увеличиваем размер шрифта */
    text-decoration: none;
    display: block; /* Делаем элементы блочными */
    padding: 20px 40px; /* Увеличиваем отступы вокруг текста */
    background-color: #D3D3D3; /* Изменяем цвет фона */
    border-radius: 10px; /* Добавляем скругленные углы */
    text-align: center; /* Выравниваем текст по центру */
    transition: background-color 0.3s; /* Добавляем плавный переход цвета фона */
}

/* Добавляем стили для hover состояния кнопок меню */
nav ul li a:hover {
    background-color: #C0C0C0; /* Изменяем цвет фона при наведении */
}

nav ul li a img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
}

.calculator {
    width: 300px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    width: 277px;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 2.5em;
}

.buttons {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.buttons button:active {
    transform: scale(0.9); /* Уменьшение размера кнопки */
    transition: transform 0.1s; /* Плавное изменение размера */
}

button {
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1); /* Увеличение размера кнопки на 10% при наведении */
    
}

.empty {
    visibility: hidden; /* Скрываем пустую кнопку */
}

.clear-button {
    background-color: #DC143C;
    
}

.equal-button {
    background-color: rgb(70, 130, 180);
    
}

.backspace-button {
    background-color: #FF6347;
}

.counting-board {
    position: relative;
    margin: 50px auto;
    width: 313px;
    height: 447px;
    overflow: hidden; /* чтобы изображение не выходило за границы родительского элемента */
}

.counting-board img {
    position: absolute;
    
    width: 100%;
    height: 100%;
    user-select: none; /* чтобы изображение не выделялось */
}


