body {
    font-family: 'Roboto', sans-serif;
}

.calculator {
    width: 300px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    width: 277px;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 2.5em;
}

.buttons {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.buttons button:active {
    transform: scale(0.9); /* Уменьшение размера кнопки */
    transition: transform 0.1s; /* Плавное изменение размера */
}

button {
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1); /* Увеличение размера кнопки на 10% при наведении */
    
}

.empty {
    visibility: hidden; /* Скрываем пустую кнопку */
}

.clear-button {
    background-color: #DC143C;
    
}

.equal-button {
    background-color: rgb(70, 130, 180);
    
}

.backspace-button {
    background-color: #FF6347;
}

header {
    background-color: #F8F8FF;
    color: #000000;
    padding: 20px 0;
    text-align: center; /* Выравниваем текст в центре */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Используем flexbox для выравнивания элементов */
    justify-content: space-around; /* Распределение пространства между элементами */
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0; /* Убираем правый отступ у последнего элемента */
}

nav ul li a {
    color: #000000;
    font-size: 1.3em; /* Увеличиваем размер шрифта */
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px; /* Увеличиваем отступы вокруг текста */
}

nav ul li a img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
}

/* Добавим вертикальную линию между кнопками */
.menu::after {
    content: '';
    display: block;
    width: 1px;
    height: 30px;
    background-color: #000;
    margin-left: 10px;
}

